<tr>
  <td>&nbsp;</td>
  <td class="px-24 pt-16 email-body content-width">
    <table class="w-full gpay-box p-16">
      <tr>
        <td align="center">
          <p class="m-0 text-base font-semibold leading-18">
            You can now add your HealthCert on <span class="inline-block">Google Wallet</span> or
            <span class="inline-block">Apple Wallet & Health</span>
            <span class="block text-sm">(supports devices on Android 5 or iOS 15.4 onwards)</span>
          </p>
          <p class="m-0 pt-16 leading-18">
            Click on the app button available with each <b class="textlink inline-block">QR code below</b>.
            <a
              target="_blank"
              class="textlink inline-block"
              href="https://faq.notarise.gov.sg/hc/en-gb/articles/4573506509593"
              >Find out more</a
            >.
          </p>
          <p class="m-0 text-xs pt-16 leading-16">
            By using this service, you agree to the
            <a target="_blank" class="hyperlink" href="https://www.notarise.gov.sg/terms-of-use">Terms of Use</a>
            and
            <a target="_blank" class="hyperlink" href="https://www.notarise.gov.sg/privacy-policy">Privacy Policy</a>.
          </p>
        </td>
      </tr>
    </table>
  </td>
  <td>&nbsp;</td>
</tr>
