<tr>
  <td>&nbsp;</td>
  <td class="email-footer pt-0 pb-16 px-24 text-sm leading-20 content-width">
    <p class="font-semibold text-base">Notαrise</p>
    <p>
      Notαrise is a portal that enables outbound travellers to get their digitally authenticated and endorsed COVID-19
      HealthCerts, issued by the Singapore Government.
    </p>
    <p>
      To find out more, visit
      <a class="hyperlink" href="https://www.notarise.gov.sg/" target="_blank">https://www.notarise.gov.sg/</a>.
    </p>
    <p class="text-sm">© 2022 Government Technology Agency</p>
  </td>
  <td>&nbsp;</td>
</tr>
