<tr>
  <td></td>
  <td class="px-24 pt-24 content-width email-body">
    <div class="text-base">
      <div class="mr-4 inline-flex items-center">
        <a href="https://www.notarise.gov.sg" target="_blank">
          <img
            src="https://www.notarise.gov.sg/images/notarise-logo.png"
            alt="notarise"
            class="light-logo"
            width="120"
            height="30"
          />
          <img
            src="https://www.notarise.gov.sg/images/notarise-logo-dark.png"
            alt="notarise"
            class="dark-logo"
            width="120"
            height="30"
          />
        </a>
      </div>
    </div>
    <hr class="line" />
  </td>
  <td></td>
</tr>
