<tr>
  <td>&nbsp;</td>
  <td class="px-24 pt-16 email-body content-width">
    <table class="w-full oa-note p-16">
      <tr>
        <td align="left" width="64">
          <img src="https://www.notarise.gov.sg/images/oa-doc-icon.png" alt="oa doc" width="48" height="48" />
        </td>
        <td class="text-xs leading-16">
          Do note that the <code>.oa file</code> attached in the email is not meant to be readable but instead to be
          shared with the authorities if requested.<br />
          <span class="font-semibold">Please keep this email for future purposes.</span>
        </td>
      </tr>
    </table>
  </td>
  <td>&nbsp;</td>
</tr>
