---
title: "Notarise: Thank you for subscribing."
---

<extends src="maizzle/src/layouts/main.html">
  <block name="template">
    <table class="email-wrapper w-full font-inter p-16 leading-24 text-base">
      <component src="maizzle/src/components/logo-header.html"></component>
      <component src="maizzle/src/components/info-box.html">
        <p>Welcome!</p>
        <p>
          We will be providing periodic updates through our newsletter to help you get important information on
          HealthCerts or related developments.
        </p>
        <p>Below are useful links to help you with your upcoming travels.
        <ul>
          <li>
            <a class="hyperlink" href="" target="_blank">Safetravel</a> - Get the latest relevant travel arrangements
            and resources
          </li>
          <li>
            <a class="hyperlink" href="" target="_blank">Moh approved PDT clinics</a> - MOH-approved clinics that
            provide PCR and ART as pre-departure tests In the meanwhile, stay safe.
          </li>
        </ul>
      </p>
        <p class="pt-16">In the meanwhile, stay safe.</p>
        <p class="pb-16">
          Regards,<br />
          The Notαrise Team
        </p>
      </component>
      <component src="maizzle/src/components/newsletter/footer.html"></component>
    </table>
  </block>
</extends>
