---
title: "Notarise.gov.sg: Please confirm your email address"
---

<extends src="maizzle/src/layouts/main.html">
  <block name="template">
    <table class="email-wrapper w-full font-inter p-16 leading-24 text-base">
      <component src="maizzle/src/components/logo-header.html"></component>
      <component src="maizzle/src/components/newsletter/verify-email.html"></component>
      <component src="maizzle/src/components/info-box.html">
        <!-- <p class="text-sm pt-16 text-center">
          If the above button didn't work, copy and paste the following link to your browser.<br />
          <a href="<%- storedUrl %>"> "<%- storedUrl %>"</a>
        </p> -->
        <p class="text-sm pt-32 pb-16 text-center">
          If you received this email by mistake, simply delete it. You won't receive anymore emails if you don't click
          the confirmation link above.
        </p>
      </component>
      <component src="maizzle/src/components/footer.html"></component>
    </table>
  </block>
</extends>
