---
title: "Notarise: Thank you for subscribing."
---

<extends src="maizzle/src/layouts/main.html">
  <block name="template">
    <table class="email-wrapper w-full font-inter p-16 leading-24 text-base">
      <component src="maizzle/src/components/logo-header.html"></component>
      <component src="maizzle/src/components/info-box.html">
        <p>Welcome!</p>
        <p>
          Thank you for subscribing to our newsletter. We will be providing periodic updates through our newsletter to
          help you get important information on HealthCerts or related developments.
        </p>
        <p>Below are useful links to help you with your upcoming travels.</p>
        <ul>
          <li>
            <a class="hyperlink" href="https://safetravel.ica.gov.sg/" target="_blank">SafeTravel</a> - Get the latest
            relevant travel arrangements and resources
          </li>
          <li>
            <a class="hyperlink" href="https://www.notarise.gov.sg/art-clinics" target="_blank"
              >MOH-approved PDT providers</a
            >
            - MOH-approved providers that provide PCR and ART as pre-departure tests.
          </li>
        </ul>
        <p>In the meanwhile, stay safe.</p>
        <p class="pb-8 pt-24">
          Regards,<br />
          The Notαrise Team
        </p>
      </component>
      <component src="maizzle/src/components/footer-no-case-ref.html"></component>
    </table>
  </block>
</extends>
