---
title: "Notarise: Thank you for subscribing."
---

<extends src="maizzle/src/layouts/main.html">
  <block name="template">
    <table class="email-wrapper w-full font-inter p-16 leading-24 text-base">
      <component src="maizzle/src/components/logo-header.html"></component>
      <component src="maizzle/src/components/info-box.html">
        <p>Welcome!</p>
        <p>
          Thank you for subscribing to our newsletter. We will be providing periodic updates through our newsletter to help you get important information on HealthCerts or related developments.
        </p>
        <p>Below are useful links to help you with your upcoming travels.
          <p>
            <a class="hyperlink" href="" target="_blank">Safe Travel</a> - Get the latest relevant travel arrangements
              and resources
            <br>
            <a class="hyperlink" href="" target="_blank">MOH-approved PDT clinics</a> - MOH-approved clinics that
              provide PCR and ART as pre-departure tests In the meanwhile, stay safe.
          </p>
        </p>
        <p class="pb-16">
          Regards,<br />
          The Notαrise Team
        </p>
      </component>
      <tr>
        <td></td>
        <td class="email-footer pt-0 px-24 text-sm leading-20">
          <a
            href="<%- unsubscribeUrl %>"
            target="_blank"
            class="block leading-full py-12 px-48 font-bold text-center text-xs"
            >Unsubscribe.</a>
        </td>
        <td></td>
      </tr>

      <component src="maizzle/src/components/footer.html"></component>
    </table>
  </block>
</extends>
