---
title: Single Qr Vaccination Certificate
bodyClass: bg-gray-100
---

<extends src="maizzle/src/layouts/main.html">
  <block name="template">
    <table class="email-wrapper w-full font-inter p-16 leading-24 text-base">
      <component src="maizzle/src/components/logo-header.html"></component>
      <component src="maizzle/src/components/info-box.html">
        <p>Dear <%- recipientName %>,</p>
        <p>Your application dated <%- submittedDate %> has been processed successfully.</p>
        <p>Vaccination certificate may be required for travel.</p>
        <p class="text-sm italic">
          (Please ensure that the content of this email is only shared with others for relevant purposes.)
        </p>
      </component>
      <component src="maizzle/src/components/view-cert.html"></component>
      <component src="maizzle/src/components/info-box.html">
        <p class="py-16">
          Yours sincerely,<br />
          The Notαrise Team
        </p>
      </component>
      <component src="maizzle/src/components/vaccine/qr-info-box.html"></component>
      <component src="maizzle/src/components/oa-note.html"></component>
      <component src="maizzle/src/components/info-box.html">
        <p class="text-center text-sm leading-16 text-gray-400 italic">
          - Below is a preview of the vaccination certificate -
        </p>
      </component>
      <component src="maizzle/src/components/divider.html"></component>
      <component src="maizzle/src/components/vaccine/vaccine-info.html"></component>
      <component src="maizzle/src/components/info-box.html">
        <% if (immunizationRecommendation.recommendation.length > 0 &&
        immunizationRecommendation.recommendation[0].dateCriterion.length > 0 &&
        immunizationRecommendation.recommendation[0].dateCriterion[0].code.coding[0].code === "effective") { %>
        <br />
        <p>Based on Singapore's requirement, <%- patient.name[0].text %> has been fully vaccinated against COVID-19.</p>
        <% } %>
      </component>
      <component src="maizzle/src/components/info-box.html">
        <div class="text-center">
          <table style="width: 100%">
            <tr>
              <td style="width: 100%; text-align: center" height="200" align="center">
                <div class="inline-block">
                  <img
                    width="200"
                    height="200"
                    src="cid:qrCode"
                    class="pt-24"
                    style="width: 200px; height: 200px; display: block; margin: 0 auto"
                  />
                  <a href="<%- gpayCovidCardUrl %>" alt="Save to phone" class="no-underline my-8 inline-block">
                    <img
                      src="https://www.notarise.gov.sg/images/add-to-google-wallet.png"
                      alt="Add certificate to Google Wallet"
                      class="light-logo"
                      width="198.10"
                      height="35"
                    />
                    <img
                      src="https://www.notarise.gov.sg/images/add-to-google-wallet.png"
                      alt="Add certificate to Google Wallet"
                      class="dark-logo"
                      width="198.10"
                      height="35"
                    />
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </component>
      <component src="maizzle/src/components/footer.html"></component>
    </table>
  </block>
</extends>
